{% extends "courses/base.html" %}

{% block title %} Courses {% endblock %}

{% block content %}

{% if courses %}

<table>
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duration</th>
    </tr>
    {% for course in courses %}
        <tr>
            <td>
                <a href="{% url 'education:courses:detail' course.id %}">{{ course.name }}</a>
            </td>
            <td>{{ course.description }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
            <td>{{ course.duration }}</td>
        </tr>
    {% endfor %}
</table>

{% else %}
    <h2>No courses</h2>
{% endif %}

{% endblock %}